@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* li {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2d6a4f;
}

.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 86px;
}

nav {
  display: flex;
  justify-content: center;
  max-width: 656px;
  margin-left: 40px;
}

.nav-options {
  display: flex;
  margin-top: 31px;
}

.filters {
  display: flex;
  max-width: 554px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  align-items: center;
}

.filters li {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  padding-right: 80px;
}

.home-btn {
  max-width: 71px;
  height: 29px;
  top: 180px;
  color: #2d6a4f;
  margin-right: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.02em;
}

.location-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}

.location-icon {
  margin-right: 25px;
  display: flex;
}

main {
  margin-top: 45px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0px;
  max-width: 364px;
  max-height: 633px;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.07);
}

.img-container {
  width: 364px;
  height: 364px;
}

.details-container {
  padding-left: 28px;
  padding-top: 22px;
}

.plot-name {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
}

.plot-details li {
  margin-bottom: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
}

.progress-bar {
  width: 147px;
  height: 6px;
  border-radius: 3px;
  background: #e5e5e5;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
